.background{
    background-color: rgb(212, 201, 180);
}
.bodystyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 92, 54);
    font-size: large;
}
.titlefont{
    font-style: italic;
    color: rgb(77, 69, 52);

}
.underline{
    text-decoration: underline;
}

#emphasis{
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
}

.header{
    font-family: 'Papyrus';
    font-size: 55pt;
    color: rgb(76, 62, 32);
}

#coldeemphasize{
    color: rgb(156, 137, 99);
}

#colemphasize{
    color: rgb(77, 69, 52);
}